@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');



* {
  font-family: "Comfortaa", cursive;
}

#header {
  display: block;
  background-color: rgb(1, 103, 103);
  width: 730px;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

#footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(1, 103, 103);
  width: auto;
  
  width: 730px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-top: 50px;
  height: 30px;
  text-align: center;
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
}

#copyright {
  font-size: 8px;
  padding-top: 10px;
  padding-right: 20px;
}

body {
  display: flex;
  justify-content: space-around;
  align-self: center;
  font-family: "Open sans", sans-serif;
}

#signin {
  margin: auto;
  max-width: 700px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.666) 1px 3px 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 8px;
  background-color: rgb(215, 215, 215);
}

.logintext {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  margin-top: -30px;
}

.login {
  display: block;
  align-self: center;
  width: 300px;
  height: 30px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(1, 103, 103);
  color: white;
  border-radius: 5px;
}

.login:hover {
  cursor: pointer;
  color: red;
}

.logintext {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  margin-top: -30px;
}

.signuptext {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: -30px;
}

.signinbutton {
  display: block;
  align-self: center;
  width: 300px;
  height: 30px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: -30px;
  text-align: center;
  background-color: rgb(1, 103, 103);
  color: white;
  border-radius: 5px;
}

.signinbutton:hover {
  cursor: pointer;
  color: red;
}



.emaillabel {
  padding-left: 100px;
  padding-right: 20px;
}

#emailinput {
 width: 300px;
 margin-left: 30px;
 margin-bottom: 10px;
}

.passwordlabel {
  padding-left: 100px;
  padding-right: 20px;
}

#passwordinput {
  width: 300px;
  margin-right: 30px;
}

.signuplink:hover {
  cursor: pointer;
  color: red;
}

.signup {
  width: 500px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

#signup:hover {
  cursor: pointer;
  color: rgb(1, 103, 103);
}

.signupform {
  margin: auto;
  max-width: 700px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.666) 1px 3px 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 8px;
  background-color: rgb(215, 215, 215);
}

.requiredfields {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
}

.requiredfields input {
  width: 300px;
}




#error {
  padding-top: 8px;
  margin: auto;
  background-color: rgb(218, 30, 92);
  height: 25px;
  width: 300px;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(1, 103, 103);
  font-size: 14px;
}

#profilepic {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  object-fit: cover;
  border: 3px solid rgb(1, 103, 103);
}

.profilegreeting {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  width: 700px;
  max-width: 700px;
  padding-left: 10px;
}


#aboutinfo {
  color: white;
  text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-around;
    background-color: #3a4e48;
    padding: 5px;
    border-radius: 5px;
    color: white;
  
}

.links a:hover {
  cursor: pointer;
  color: red;
}

#logout {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

#logout:hover {
  color: red;
  cursor: pointer;
}

#profileinfo {
  font-family: "Inter", sans-serif;
  background: lightgray;
  width: 700px;
  max-width: 700px;
  height: auto;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
  font-weight: 100;
}

.infotext {
  font-weight: 500;
  line-height: 200%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background: lightgray;
  width: 700px;
  max-width: 700px;
  height: auto;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
}

.container img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid rgb(1, 103, 103);
}

.postdec {
 
  background: lightgray;
  width: 700px;
  max-width: 700px;
  height: auto;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
}

.picdec{
  
  background: lightgray;
  width: 700px;
  max-width: 700px;
  height: auto;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-radius: 10px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
}

  .newpiccontent {
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(1, 103, 103);
    width: 660px;
    height: auto;
    max-width: 660px;
    padding-top: 20px;
    margin-top: 40px;
    box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
    border-radius: 10px;
  }


#profilepicdash {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgb(1, 103, 103);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid rgba(66,66,66,.54);

}

#pictureUrl {
  display: flex;
  justify-content: space-around;
}


.newpostlink {
  margin-top: 20px;
  background-color:lightgray;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 12px -3px rgba(48, 93, 89, 0.83);
  display: flex;
  padding: 15px;
  width: 200px;
  height: 10px;
  justify-content: center;
}

.newpostlink a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.newpostlink a:hover {
  color: red;
  cursor: pointer;
}

.newpostcontainer {
  display: flex;
  justify-content: space-between;
}



.likebutton {
  font-size: 25px;
  color: white;
  margin-bottom: -60px;
  margin-top: 40px;
  padding-bottom: 20px;
  
}

.likebutton.clicked {
  color: green;
}

#welcometodash {
  font-size: 26px;
  text-align: center;
}


#newpostform {
  margin-bottom: 20px;
  padding-left: 20px;
  color: white;
  font-weight: bolder;

}

.newpostcontent {
  background-color:rgb(1, 103, 103);
  width: 660px;
  height: auto;
  max-width: 660px;
  padding-top: 20px;
  margin-top: 40px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
  border-radius: 10px;

}

#newposttext {
  width: 500px;
  height: 100px;
  margin-bottom: 40px;
  overflow: scroll;
  margin-left: 75px;
  padding: 7px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: ridge;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(66,66,66,.54);
  overflow-wrap: normal;
}

#subbtn {
  width: 150px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgba(66,66,66,.54);
  overflow-wrap: normal;
  margin-left: 250px;
  margin-bottom: 20px;
}

#subbtn:hover {
  cursor: pointer;
  color: red;
}

.userposted {
  margin-top: -20px;
  padding-top: -40px;
  margin-left: 20px;
  
} 


.profilepicpost {
  min-width: 90px;
  height: 90px;
  max-height: 90px;
  max-width: 90px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(66,66,66,.54);
}

.picandpost {
  display: flex;
  flex-direction: row;
  gap: 30px;
}


.postcontent{
  display: block;
  background-color:rgb(1, 103, 103);
  width: 650px;
  height: auto;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 13px 3px 26px -3px rgba(48, 93, 89, 0.83);
  

}


.addnewpic {
  width: 600px;
  height: 500px;
  object-fit: cover;
}




.dashpicdis {
  display: block;
  margin: auto;
  width: 500px;
  height: 600px;
  object-fit: cover;
  padding-top: 40px;
}

.subbtn {
  width: 150px;
}

.posttextbox {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  margin-left: 25px;
  padding: 20px;
  margin-top: 20px;
  color: white;
  
}

.newpicdisplay {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  margin-left: 10px;
  padding: 20px;
  margin-top: 20px;
}

.likebuttonpic {
  font-size: 25px;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}

.likebuttonpic.clicked {
  color: green;
}


.likebutton {
  font-size: 25px;
  color: white;
  margin-bottom: -40px;
  margin-top: 20px;
  
}

.likebutton1 {
  font-size: 25px;
  color: white;
  margin-bottom: -40px;
  margin-top: 40px;
  
}

.likebutton1.clicked {
  color: green;
}

.totop {
  width: 50px;
  height: 35px;
  
}

.arrow {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.enterpic {
  width: 600px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  color: white;
}

.enterpictext {
padding-left: 250px;
}
